* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 66, 89);
}

.gg-container {
  width: 835px;
  height: 300px;
  margin: 0 auto;
}

.slider {
  position: relative;
  height: 100%;
}

.items-wrapper {
  float: left;
  height: 100%;
  width: 700px;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  width: 100%;
  position: absolute;
  bottom: 20px;
  right: 0;
  text-align: end;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px 20px;
}

.title h2 {
  margin-bottom: 10px;
}

.items-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbs-wrapper {
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  width: 135px;
  background-color: black;
}

.thumbs-wrapper img {
  width: 100%;
  height: calc(100% / 5);
  object-fit: cover;
  opacity: 0.5;
}

.thumbs-wrapper img.active {
  opacity: 1;
  border: 2px solid white;
}

.buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 55px;
  padding: 10px 0;
}

.btn-arrow {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.btn-arrow:hover {
  background-color: white;
  color: red;
}